html, body {
  
  background: transparent url("KevinN-Portfolio/minolta.jpg") no-repeat center;
  background-size: cover;
  font-family: 'Antic', sans-serif;
  margin: 0;
  padding: 0; 
  
}

.header {
  background-color: #fff;
  height: 200px;
 
  padding: 0px 0px 0px 20px;
  
}

.header h1 {
  color: #31363d;
  font-size: 50px;
  margin: 0 auto;
  position: relative;
  padding-bottom:10px;
  text-transform: Uppercase;
  top: 44px;
  
}

.header h3 {
   color: #31363d;
   font-size: 22px;
   margin: 0 auto;
   position: relative;
   padding: 42px 0 0 5px;
   text-transform: Uppercase;

}

.nav ul {
  
  margin: -20px 0 30px;
  text-align: right;
}

.nav li {
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
  display: inline;
  text-transform: uppercase;
  padding: 0px 30px;
  
 
}

.nav li:hover {
  color: #31363d;
  cursor: pointer; 
  -webkit-transition: color 1s;
  transition: color 1s;
}

.imageblog h2 {
 
 
 text-align: center;
 font-size: 30px;
 color: #eff2f7;
 }

.span {
 color:#ceb539;

 }



.gallery {
width: 100%;
height: auto;
overflow: absolute;
text-align: center;
}

.gallery img {
  display: inline;
   margin: 50px 10px 10px 10px;
  border-radius: 6px;

}

span {
  color: Yellow;
}

.headerpage2 {
     color: #eff2f7;
     font-size: 52px;
     
     }


@media (max-width: 500px) 
 
  
.footer {
    position: absolute;
    color: #eff2f7;
    font-size: 7px;
    padding: 0 60px 40px 0;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: -80px;
  }
  

  
  
  
  
